@font-face {
    font-family: "Gilroy";
    src: 
        local("Gilroy-ExtraBold"),
        url(../font/Gilroy-ExtraBold.otf) format("otf")
}

@font-face {
    font-family: "Gilroy";
    src: 
        local("Gilroy-Light"),
        url(../font/Gilroy-Light.otf) format("otf")
}

@font-face {
    font-family: "Bebas Neue";
    src: 
        local("BebasNeue-Bold"),
        url(../font/BebasNeue\ Bold.otf) format("otf")
}


@font-face {
    font-family: "Bebas Neue";
    src: 
        local("BebasNeue-Light"),
        url(../font/BebasNeue\ Light.otf) format("otf")
}

@font-face {
    font-family: "Bebas Neue";
    src: 
        local("BebasNeue-Regular"),
        url(../font/BebasNeue\ Regular.otf) format("otf")
}

@font-face {
    font-family: "Bebas Neue";
    src: 
        local("BebasNeue-Thin"),
        url(../font/BebasNeue\ Thin.otf) format("otf")
}


@font-face {
    font-family: "Helvetica Neue";
    src: 
        local("HelveticaNeueLTStd-Bold"),
        url(../font/HelveticaNeueLTStd-Bd.otf) format("otf")
}

@font-face {
    font-family: "Helvetica Neue";
    src: 
        local("HelveticaNeueLTStd-Light"),
        url(../font/HelveticaNeueLTStd-Lt.otf) format("otf")
}

@font-face {
    font-family: "Helvetica Neue";
    src: 
    local("HelveticaNeueLTStd-Medium"),
    url(../font/HelveticaNeueLTStd-Md.otf) format("otf")
}

@font-face {
    font-family: "Helvetica Neue";
    src: 
        local("HelveticaNeueLTStd-Roman"),
        url(../font/HelveticaNeueLTStd-Roman.otf) format("otf")
}

@font-face {
    font-family: "Quicksand";
    src: 
        local("Quicksand-Light"),
        url(../font/Quicksand-Regular.ttf) format("ttf")
}

@font-face {
    font-family: "Quicksand";
    src: 
        local("Quicksand-Bold"),
        url(../font/Quicksand-Bold.otf) format("otf")
}