<!-- Sidebar Container -->
<div id="sidebar" class="container-fluid">
  <!-- Row  -->
  <div class="row flex-nowrap">
    <!-- Column -->
    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-light">
      <!-- Container for tabs -->
      <div class="sticky-top d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
        <!-- Nav tabs -->
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
          <!-- Home button -->
          <li class="nav-item">
            <a href="/dlc" class="nav-link align-middle px-0">
              <i class="fs-4 bi-house"></i>
              <span class="ms-1 d-none d-sm-inline">Home</span>
            </a>
          </li>
          <!-- Reportes menu -->
          <li>
            <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
              <i class="fs-4 bi-graph-up"></i> <span class="ms-1 d-none d-sm-inline">Reportes</span> </a>
            <ul class="collapse nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
              <!-- Tipos de reportes -->
              <li class="w-100">
                <a href="/dlc/nps" class="nav-link px-0">
                  <i class="fs-4 bi-pie-chart"></i>
                  <span class="d-none d-sm-inline">NPS</span></a>
                <a href="#" class="nav-link px-0">
                  <i class="fs-4 bi-cash-coin"></i>
                  <span class="d-none d-sm-inline">Venta Litros</span></a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
              <i class="fs-4 bi-calendar"></i> <span class="ms-1 d-none d-sm-inline">Vacaciones/Blocks</span> </a>
            <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
              <li class="w-100">
                <a href="/dlc/a_vacaciones" class="nav-link px-0 align-middle ">
                  <i class="fs-4 bi-calendar"></i>
                  <span class="ms-1 d-none d-sm-inline">Aprobar Vacaciones</span>
                </a>
                <a href="/dlc/s_vacaciones" class="nav-link px-0 align-middle ">
                  <i class="fs-4 bi-calendar"></i>
                  <span class="ms-1 d-none d-sm-inline">Solicitar Vacaciones</span>
                </a>
                <a href="/dlc/s_ng_block" class="nav-link px-0">
                  <i class="fs-4 bi-bootstrap"></i>
                  <span class="ms-1 d-none d-sm-inline">Solicitar NG Blocks</span>
                </a>
                <a href="/dlc/a_ng_block" class="nav-link px-0">
                  <i class="fs-4 bi-bootstrap"></i>
                  <span class="ms-1 d-none d-sm-inline">Aprobar NG Block</span>
                </a>
            </ul>
          </li>
          </li>
          <li>
            <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
              <i class="fs-4 bi bi-link"></i> <span class="ms-1 d-none d-sm-inline">Links</span> </a>
            <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
              <li class="w-100">
                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">NatGas</span></a>
                <a href="#" class="nav-link px-0"> <i class="fs-4 bi-youtube"></i> <span
                    class="d-none d-sm-inline">Tutoriales</span></a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>