<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-1 text-white m">
  <a class="navbar-brand p-2" href="/dlc">
    <img src="https://storage.googleapis.com/natgas/others/logos/natgas-logo-horizontal-blanco.png"></a>
  <div class="navbar-nav">
    <div class="nav-item text-nowrap">
        <a class="nav-link px-3" href="/users/login"> Sign out</a>
    </div>
  </div>
</header>
