<header class="navbar sticky-top flex-md-nowrap p-1 text-white m" style="background-color: #002b49">
  <a class="navbar-brand p-2" href="/dlc">
    <img src="https://storage.googleapis.com/natgas/others/logos/natgas-logo-horizontal-blanco.png"></a>
  <div class="navbar-nav">

    <div class="nav-item text-nowrap">
      <li class="nav-item" >
        <a href="/users/logout" class="nav-link align-middle px-0">
          <i class="fs-4 bi bi-box-arrow-in-right" style="color:white"></i>
          <span class="ms-1 d-none d-sm-inline" style="color:white">Cerrar Sesión   </span>
        </a>
      </li>
  </div>
</header>
