<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <!-- Favicon -->
  <link rel="icon" href="https://storage.googleapis.com/natgas/others/logos/natgas-logo-simple.png" type="image/png">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <!-- Bootstrap fonts -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Bootstrap icons -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.css">
  <link REL=StyleSheet HREF="/css/login.css" TYPE="text/css" MEDIA=screen>
</head>
<body>

  <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-1 text-white m">
    <a class="navbar-brand p-2" href="/dlc">
      <img src="https://storage.googleapis.com/natgas/others/logos/natgas-logo-horizontal-blanco.png"></a>
    <div class="navbar-nav">

    </div>
  </header>

<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <% if (error.length != 0) { %>
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>┻━┻ ︵ヽ(`▭´)ﾉ︵﻿ ┻━┻  </strong> <%= error %>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" onclick="closeAlert()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        <% } %>
          <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">

            <p class="lead fw-normal mb-0 me-3">Login</p>
          </div>

          <div class="divider d-flex align-items-center my-4">
            <p class="text-center fw-bold mx-3 mb-0"></p>
          </div>


          <!--Empieza el form -->
          <form action="/users/login" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
          <div class="form-outline mb-4">
            <!-- Email input -->
            <label for="correo_usuario" class="form-label" >Email address</label>
            <input type="text" id="correo_usuario" name= "correo_usuario" class="form-control form-control-lg"
              placeholder="a123456@natgas.com.mx" />
            <!-- Email input -->
          </div>
          <div class="form-outline mb-3">
            <!-- Password input -->
            <label class="form-label" for="contrasenia">Password</label>
            <input type="password" id="contrasenia" name="contrasenia" class="form-control form-control-lg"
              placeholder="Enter password" />
            <!-- Password input -->
          </div>
          <div class="text-center text-lg-start mt-4 pt-2">
            <input type="submit" value="Enviar" class="btn btn-primary">
          </div>
          </form>
          <!-- Termina form -->
          <div style="text-align: right;">
          <a href="/users/signup">
            <button id="boton1" class="btn btn-primary" onclick="" style="background-color:#0a0a23"
              href="/users/signup">Sign Up</button>
        </div>
      </div>
    </div>
  </div>
</section>
</body>

<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</html>
