<%- include('includes/head.ejs') %>
<%- include('includes/topbar.ejs') %>
<%- include('includes/sidebar.ejs') %>
<body>
  <div class="col py-3">
    <div height class="container">
      <h1 class="display-4"><center>Registrar Usuario</center></h1>
      <br><br>

    <div class="card-columns">



    </div><br><br>

  </div>

</div>
</body>

<%- include('includes/foot.ejs') %>
