<%- include('includes/head.ejs') %>
  <%- include('includes/topbar.ejs') %>
    <%- include('includes/sidebar.ejs') %>
      <div class="col py-3">
        <div class="jumbotron jumbotron-fluid">

          <div class="container">
            <section class="container">
              <h1 class="pt-4 pb-2">Solicitud de Vacaciones</h1>
              <br>
              <br>
              <!-- Inicia form-->
              <form action="/dlc/s_vacaciones" method="POST">
                <div class="container-fluid">
                  <div class="row form-group">
                        <label for="turno_ng_block" class="col-sm-3 col-form-label">Elige la fecha</label>
                        <div class="col-sm-4">
                            <div class="input-group date" id="datepicker">
                              <input class="form-control" id="myrosterdate" name="myrosterdate" placeholder="DD-MM-YYYY" type="text"/>
                                <span class="input-group-append">
                                    <span class="input-group-text bg-white">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                  <div>
                    <br>
                    <label  for="responsable_ausencia" class="col-form-label"><b>Responsable durante tu ausencia*</b></label>
                    <select name="responsable_ausencia" class="form-select" aria-label="Default select example">
                      <option value="" disabled selected>Responsable</option>
                      <option value="A01705090">Oscar Nieto</option>
                      <option value="A01705091">Cristian Rogelio</option>
                      <option value="A01705092">Eros Guillen</option>
                      <option value="A01705093">Arturo Bustos</option>
                      <option value="A01705094">Arturo Avellaneda</option>
                    </select>

                  </div>
                  <br><p>Fecha en la que se realizó la solicitud: <span id='date'></span>.</p>
                  <input type="hidden" id="folio" name="folio" value="999">
                  <input type="hidden" id="no_empleado" name="no_empleado" value="123">
                  <input type="hidden" id="observaciones" name="observaciones" value="ninguna">
                  <input type="hidden" id="reanudacion_labores" name="reanudacion_labores" value="13-10-2000">
                  <input type="hidden" id="fecha_solicitud" name="fecha_solicitud" value="13-11-2000">
                  <input type="hidden" id="estatus_vacaciones" name="estatus_vacaciones" value="Pendiente">
                  <input type="submit" value="Enviar" class="btn btn-primary">
                </div>
              </form>
              <!-- Termina form-->

              <br><br>
              <div style="text-align: right;">
                <a href="/dlc">
                  <button id="boton1" class="btn btn-primary" onclick="" style="background-color:#0a0a23"
                    href="/dlc">Cancelar Solicitud</button>
                </a>
              </div>
            </section>
          </div>
        </div>
      </div>

      <%- include('includes/foot.ejs') %>
