.card-img-top {
    width: 100%;
    height: 30vw;
    object-fit: contain;
}
.carousel{
  width: 50%;
  margin: auto;
}
.carousel-inner > .carousel-item > img {
   object-fit: contain;

}

.carousel-control-prev {
  box-shadow: inset 0 0 20rem rgba(0, 0, 0, 1);
  margin: auto;
  width: 5vw;
  height: 5vw;
  border-radius: 25px;
}

.carousel-control-next {
  box-shadow: inset 0 0 20rem rgba(0, 0, 0, 1);
  margin: auto;
  width: 5vw;
  height: 5vw;
  border-radius: 25px;
}

.carousel-indicators {
  box-shadow: inset 0 0 20rem rgba(0, 0, 0, 1);
  margin: auto;
  border-radius: 25px;
  width: 40%;
}

.highlight{
    background-color: #888B8D;
    border-radius: 15px 50px 30px 5px;
}
/*
#carouselNoticias .carousel-item:before {
-webkit-box-shadow: inset 0 0 20rem rgba(0, 0, 0, 1);
box-shadow: inset 0 0 20rem rgba(0, 0, 0, 1);
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
content: "";
}
*/
